body {
    background-color: #0e0e0e;
    font-family: 'Poppins', sans-serif;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 15px 40px;
    text-align: center;
}

main h1, .card-title {
    color: #ee8f22;
}

.navbarEdit {
    background-color: #0d47a1 !important;
    border-bottom: 3px solid #ee8f22;
}

#imgLogo {
    max-width: 180px;
}

#homeNavBar,
#agendaNavBar {
    color: white;
    font-size: 20px;
    margin-left: 15px;
}

#homeNavBar:hover,
#agendaNavBar:hover {
    color: #fab260;
    transition: transform 0.5s ease;
}

.btn-action { margin-right:6px; }

.card-admin {
    border: none;
    background-color: #1c1c1c;
    border: 1px solid #fab260;
    border-radius: 10px;
    transition: transform 0.4s;
}

.card-admin:hover {
    transform: scale(1.02);
}

.card-admin .card-title {
    font-size: 1.2rem;
}

.admin-icon {
    font-size: 70px;
    color: #ee8f22;
}

.card-admin p {
    color: white;
}

.btn-orange {
    background-color: #ee8f22 !important;
    color: white !important;
    border: none !important;
}

.btn-orange:hover {
    background-color: #fab260 !important;
    color: black !important;
}

.text-muted-white {
    color: rgba(255, 255, 255, 0.8) !important; /* 80% */
}

#uploadStatus
{
    color:#ee8f22;
}

.rodape {
    background-color: #0d47a1;
    color: white;
    padding: 40px 20px;
    text-align: center;
    margin-top: 40px;
}


@media (min-width: 768px) {
    .btn-confirmar {
        margin-right: 10px;
    }
}

@media (max-width: 600px) {
    .iconeRede {
        width: 38px;
    }
}

.copyright {
    margin-top: 15px;
    padding-top: 10px;
}